<section class = "events">
  <div id = "open-mic" class = "event">
    <h2>Open Mic Every Wednesday, 7:00pm</h2>
  </div>
  {{- $events := $.Site.Data.events | sort |collections.Reverse -}}
  {{- range $index, $element := $events}}
    <div class = "event">
      <a href = "{{- $element.link -}}" target = "_blank">
        <img class = "event" src = "{{- $element.image -}}"
          alt = "{{- $element.title -}}"></a>
      <div class = "what-when">
        {{ $element.title | markdownify | emojify -}},
        {{ $element.when | markdownify | emojify }}
      </div>
      {{ if $element.description }}
        <div class = "description">
          {{ $element.description | markdownify | emojify }}
        </div>
      {{ end }}
      <div class = "action">
        <a href = "{{- $element.link -}}" target = "_blank">
          {{ $element.actionText | markdownify | emojify }}</a>
      </div>
    </div>
  {{- end }}
</section>
