<div class = "event">
  <a href = "{{- or .link "." -}}" target = "_blank">
    <img class = "event"
         src = "{{- absURL .image -}}"
         alt = "{{- .title -}}"></a>
  <div class = "title">
    {{ .title | markdownify | emojify -}}
  </div>
  <div class = "when">
    {{ .when | markdownify | emojify }}
  </div>
  {{ if .description }}
    <div class = "description">
      {{ .description | transform.HTMLToMarkdown | markdownify | emojify }}
    </div>
  {{ end }}
  <div class = "action">
    <a href = "{{- or .link "." -}}" target = "_blank">
      {{ .actionText | markdownify | emojify }}</a>
  </div>
</div>
