<section class = "events">
  {{ partial "open-mic.html" . }}
  <h2 id = "art">Art Events</h2>
  {{- range $index, $element := $.Site.Data.events.art }}
    {{ if
        (lt
          (time.Now.Add (time.ParseDuration "-24h"))
          ($element.date | time.AsTime))}}
      {{ partial "event.html" $element }}
    {{- end }}
  {{- end }}

  <h2 id = "music">Music Events</h2>
  {{- range $index, $element := $.Site.Data.events.music }}
  {{ if
      (lt
        (time.Now.Add (time.ParseDuration "-24h"))
        ($element.date | time.AsTime))}}
      {{ partial "event.html" $element }}
    {{- end }}
  {{- end }}
  <div class = "past-events">
    <a href = "/events/" class = "button">Past Events</a>
  </div>
</section>
