<div class = "address">
  <a href = "https://maps.app.goo.gl/WMb3ZFDi5LZJLCVc8" target = "_blank">
    156B Lancaster Ave, Columbia, PA 17512</a>
</div>
<div class = "logo">
  <div class = "subtitle">
    501(c)(3) nonprofit studio &amp; venue
    <br/>
    Music, art, photography, podcasting &amp; more
  </div>
  <a href = "{{ absURL "" -}}">
    <img src = "{{ absURL "srcc-logo.png" -}}"
         alt = "SRCC: Susquehanna River Creative Conspiracy"></a>
  <div class = "mission">
    Elevating community
    by facilitating
    creative endeavors and
    welcoming all to
    find inspiration and
    connection in the process.
  </div>
</div>
