<header>
  {{ partial "links.html" . }}
  <h1>
    <a href = "/">
      {{ $.Site.Title -}}
    {{- if $.Page.Params.title -}}
    : {{ $.Page.Params.title }}
    {{- end -}}
    </a>
  </h1>
  <div class = "mid">
    <div class = "subtitle">
      A nonprofit collective studio &amp; venue
      for music rehearsal, podcasting, art, photography, writing
      &amp; other creative endeavors.
    </div>
    <div class = "logo">
      <a href = "/">
          <img src = "/srcc.jpg" alt = "SRCC"></a>
    </div>
    <div class = "mission">
      Elevate community
      by facilitating
      creative endeavors and
      welcoming all to
      find inspiration and
      connection in the process.
    </div>
  </div>
  <div class = "address">
    <a href = "https://maps.app.goo.gl/WMb3ZFDi5LZJLCVc8" target = "_blank">
      156B Lancaster Ave, Columbia, PA 17512</a>
  </div>
  <div class = "nav">
    <a href = "/#membership" class = "button">Memberships Available!</a>
  </div>
  <div class = "nav">
    <a href = "/#art" class = "button">Art</a>
    <a href = "/#music" class = "button">Music</a>
  </div>
</header>
