<header>
  {{ partial "links.html" . }}
  {{ partial "header-lite.html" . }}
  <div class = "mission">
    Elevate community
    by facilitating
    creative endeavors and
    welcoming all to
    find inspiration and
    connection in the process.
  </div>
  <div class = "nav">
    <a href = "https://www.paypal.com/ncp/payment/QS9JDJZL98KAY"
       target = "_blank"
       class = "button">Donate!</a>
    <a href = "{{ absURL "#membership" -}}"
       class = "button">Memberships Available!</a>
  </div>
</header>
