<header>
  {{ partial "links.html" . }}
  {{ partial "header-lite.html" . }}
  <div class = "mid">
    <div class = "subtitle">
      A nonprofit collective studio &amp; venue
      for music rehearsal, podcasting, art, photography, writing
      &amp; other creative endeavors.
    </div>
    <div class = "mission">
      Elevate community
      by facilitating
      creative endeavors and
      welcoming all to
      find inspiration and
      connection in the process.
    </div>
  </div>
  <div class = "nav">
    <a href = "/#membership" class = "button">Memberships Available!</a>
  </div>
  <div class = "nav">
    <a href = "/#art" class = "button">Art</a>
    <a href = "/#music" class = "button">Music</a>
  </div>
</header>
