<title>{{ or $.Page.Params.title "SRCC" }}: {{ $.Site.Title -}}</title>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=1">
<meta property="og:image" content="https://srccpaart.org/srcc-logo.png">
<link rel = "stylesheet" type = "text/css" href = "{{ absURL "style.css?v=9" -}}">
<link rel="icon" href="{{ absURL "srcc.png" -}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
