<meta charset = "UTF-8">
{{- $defaultTitle := cond (eq $.Kind "404") "Page Not Found" "SRCC" -}}
{{- $pageTitle := printf "%s: %s" (or $.Page.Params.title $defaultTitle) $.Site.Title -}}
{{- $description := or $.Page.Params.description $.Site.Params.description -}}
<title>{{ $pageTitle }}</title>
<meta name="viewport" content="width=device-width, user-scalable=1">
<meta name="description" content="{{ $description }}">
<meta name="theme-color" content="#2d6f65">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="SRCC">
{{- $ogImage := resources.Get "static/srcc-logo-solid.png" -}}
<meta property="og:image" content="{{ absURL "srcc-logo-solid.png" }}">
{{- with $ogImage }}
<meta property="og:image:width" content="{{ .Width }}">
<meta property="og:image:height" content="{{ .Height }}">
{{- end }}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ $pageTitle }}">
<meta property="og:description" content="{{ $description }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ $pageTitle }}">
<meta name="twitter:description" content="{{ $description }}">
<meta name="twitter:image" content="{{ absURL "srcc-logo-solid.png" }}">
<link rel="canonical" href="{{ .Permalink }}">
{{- $style := resources.Get "css/style.css" | fingerprint }}
<link rel = "stylesheet" type = "text/css"
      href = "{{ $style.RelPermalink }}"
      integrity = "{{ $style.Data.Integrity }}">
<link rel="icon" href="{{ absURL "srcc.png" -}}">
{{- $touchIcon := resources.Get "static/srcc.png" }}
<link rel="apple-touch-icon" href="{{ absURL "srcc.png" -}}"{{ with $touchIcon }} sizes="{{ .Width }}x{{ .Height }}"{{ end }}>
<link rel="manifest" href="{{ absURL "manifest.json" -}}">
<link rel="preload" href="{{ absURL "fonts/open-sans-variable.woff2" -}}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ absURL "fonts/oswald-variable.woff2" -}}" as="font" type="font/woff2" crossorigin>
{{- with .OutputFormats.Get "rss" }}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title }}">
{{- end }}
