<div class = "links">
  <a href = "https://www.paypal.com/ncp/payment/QS9JDJZL98KAY" target = "_blank">
    <img alt = "PayPal" src = "/paypal.png"></a>
  <a href = "https://www.youtube.com/channel/UCSpI6I_YOS8pEP_gex-ulKg" target = "_blank">
    <img alt = "Youtube" src = "/youtube.png"></a>
  <a href = "https://www.instagram.com/srccpaart/" target = "_blank">
    <img alt = "Instagram" src = "/instagram.png"></a>
  <a href = "https://www.facebook.com/srccpaart" target = "_blank">
    <img alt = "Facebook" src = "/facebook.png"></a>
  <a href = "https://linktr.ee/srccpaart" target = "_blank">
    <img alt = "Linktree" src = "/link.png"></a>
  <a href = "mailto:contact@srccpaart.org" target = "_blank">
    <img alt = "contact@srccpaart.org" src = "/email.png"></a>
</div>
