<div class = "links">
  <a href = "https://www.paypal.com/ncp/payment/QS9JDJZL98KAY" target = "_blank">
    <img alt = "PayPal" src = "{{ absURL "paypal.png" -}}"></a>
  <a href = "https://www.youtube.com/channel/UCSpI6I_YOS8pEP_gex-ulKg" target = "_blank">
    <img alt = "Youtube" src = "{{ absURL "youtube.png" -}}"></a>
  <a href = "https://www.instagram.com/srccpaart/" target = "_blank">
    <img alt = "Instagram" src = "{{ absURL "instagram.png" -}}"></a>
  <a href = "https://www.facebook.com/srccpaart" target = "_blank">
    <img alt = "Facebook" src = "{{ absURL "facebook.png" -}}"></a>
  <a href = "https://linktr.ee/srccpaart" target = "_blank">
    <img alt = "Linktree" src = "{{ absURL "link.png" -}}"></a>
  <a href = "mailto:contact@srccpaart.org" target = "_blank">
    <img alt = "contact@srccpaart.org" src = "{{ absURL "email.png" -}}"></a>
  <a href = "https://calendar.google.com/calendar/u/0?cid=YmY4MmRkNWQxYzhhMGVjODhjOTEwOWU2NTZjMGI0YmYyNjExZjU5Y2Q5ZDE0ZjBiMDAwNjE0NzQ0YmNmNDBkMkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t" target = "_blank" >
    <img alt = "Google Calendar" src = "{{ absURL "calendar.png" -}}"></a>
</div>
