<section class = "membership">
  <h2 id = "membership">Memberships Available</h2>
  <a href = "srcc-event-room.jpg" target = "_blank">
    <img alt = "Event Room" class = "room" src = "srcc-event-room.jpg"></a>
  <a href = "srcc-podcast-studio.jpg" target = "_blank">
  <img alt = "Podcast Studio" class = "room" src = "srcc-podcast-studio.jpg"></a>
  <ul>
    <li>Access to the studios during your Membership</li>
    <li>FREE or reduced entry to select SRCC events</li>
    <li>0% commission on sales from gallery shows</li>
    <li>Members Lounge</li>
    <li>Use of equipment and supplies for music, photography, lighting, art, recording, etc.</li>
  </ul>
  <p>
    <a href = "/members/">More Information for Members</a>
  </p>
  <div class = "clear"></div>
</section>
