<section class = "membership">
  <h2 id = "membership">Memberships Available</h2>
  <a href = "srcc-event-room.jpg" target = "_blank">
    <img alt = "Event Room" class = "room" src = "srcc-event-room.jpg"></a>
  <a href = "srcc-podcast-studio.jpg" target = "_blank">
  <img alt = "Podcast Studio" class = "room" src = "srcc-podcast-studio.jpg"></a>
  <ul>
    <li>24/7 access to the building during your Membership (all Members have keys)</li>
    <li>FREE or reduced entry to select SRCC events</li>
    <li>0% commission from art sales from gallery shows (25% commission for non-Members)</li>
    <li>FREE use of Adobe Creative Suite Master Collection... Photoshop, Illustrator, InDesign, Premiere Pro, After Effects, Soundbooth and more!</li>
    <li>Members Lounge for relaxation, socialization and contemplation before/during/after projects.</li>
    <li>Use of on-site equipment and supplies (musical instruments, photography lighting and props, art supplies, etc)</li>
  </ul>
  <div class = "clear"></div>
</section>
