<section class = "membership">
  <h2 id = "membership">Memberships Available</h2>
  <div class = "rooms">
    <a href = "srcc-event-room.jpg" target = "_blank">
      <img alt = "Event Room" class = "room" src = "srcc-event-room.jpg"></a>
      <a href = "srcc-podcast-studio.jpg" target = "_blank">
        <img alt = "Podcast Studio" class = "room" src = "srcc-podcast-studio.jpg"></a>
  </div>
  <p>Very affordable memberships include:</p>
  <ul>
    <li>
      Access to equipped studio spaces
      for <strong>music</strong> rehearsal, recording, and performance,
      as well as <strong>podcasting</strong>,
      <strong>art</strong>, <strong>photography</strong>,
      <strong>writing</strong>,
      and other creative endeavors.
    </li>
    <li>Access to the Members Lounge.</li>
    <li>Entry to select SRCC events at a reduced fee.</li>
    <li>0% commission on art sales.</li>
  </ul>
  <div class = "clear"></div>
</section>
