<section class = "payment">
  <h2>{{ $.Page.Params.title }}</h2>
  <p>(plus fees)</p>
  <p>
    <a href = "{{- $.Page.Params.one_time -}}"
       target = "_blank" class = "button">
      Pay {{ $.Page.Params.amount }} Once</a>
  </p>
  <p>
    <a href = "{{- $.Page.Params.subscription -}}"
       target = "_blank" class = "button">
      Subscribe for {{ $.Page.Params.amount }} Each Month</a>
  </p>
  <p>
    Subscriptions pay each month
    on the day you started it,
    so the <em>1st of the month</em>
    or near there
    is a great time to start it.
  </p>
  <p>
    Automatic payments? Magic, right? Read more about our
    <a href = "/paypal/" target = "_blank">
      PayPal Subscriptions and other options.</a>.
    Otherwise, bookmark this page,
    and come back at the end of every month to pay for the <em>next</em> month.
  </p>
  <p>Oh, and <em>Thanks</em> for being a member of SRCC!</p>
</section>
