<!DOCTYPE html>
<html lang = "en-us">
  <head>
    {{ partial "head.html" . }}
    {{ partial "structured-data-events.html" . }}
    {{ partial "structured-data-organization.html" . }}
  </head>
  <body>
    <a href = "#main" class = "skip-link">Skip to content</a>
    {{ partial "header.html" . }}
    <main id = "main">
      <h1 class = "sr-only">{{ $.Site.Title }}</h1>
      {{ partial "events.html" . }}
      {{ partial "booking.html" . }}
      {{ partial "membership.html" . }}
    </main>
    {{ partial "footer.html" . }}
  </body>
</html>
